
table{
    width:100%;
}
.footer{
    text-align: center;
    color:grey;
    padding-bottom: 20px;
    bottom: 0;
    display: block;
    margin-left: 20px;
}
.heading{

    text-align: center;
}
#angularheading{
    font-weight: bold;
    color: black;
}