<br>
<h1>Products</h1>
<br>
<input type="text" placeholder="Enter to search" [(ngModel)]='value'>
<input type="number" placeholder="Enter price" [(ngModel)]='pricevalue'>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    Expiry Date
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products| productsearch:value | mycustompipe:pricevalue" >
                <td>   {{p.Id}} </td>
                <td>   {{p.Title}} </td>
                <td>   {{p.Price | currency:'INR'}} </td>
                <td>   {{p.ExpiryDate | date}} </td>
                <td>   {{p.Quantity}} </td>
                <td> 
                       <ng-container *ngIf="p.isInstock; then instock else outofstock"></ng-container>
                       <ng-template #instock>
                        <i class="fa fa-check" aria-hidden="true"></i>
                       </ng-template> 

                       <ng-template #outofstock>
                        <i class="fa fa-times" aria-hidden="true"></i>
                        <button class="btn btn-default"> Order Now</button>
                       </ng-template> 
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<br>
<br>
<br>
<p class="text-center" style="color:grey;">In this we have used dataservice and data is shown in table.
     We use pipe in price and in date column to represent currency symbol and date.</p>

<!-- <button class="btn btn-danger" (click)='generateerror()'>generate error</button> 
<p>attribute directive works</p>
<input type="text" [(ngModel)]='color'>
<div appChangeColor [color]='color'>Hello world</div> -->