<div class="container">
  <div>
    <span>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <a class="navbar-brand"  routerLink='/Home'>Vikas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- DataBinding -->
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
      
          <li class="nav-item">
            <a class="nav-link" routerLink='/Tshirt' >Data Binding</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink='/Product' >Product</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link "  routerLink='/Purchase'>Master Details</a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link"  routerLink='/attribute' >Attribute Directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   routerLink='/sharedatawithservice' >Shared Data with Service</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"   routerLink='/globalerrorhandling' >Generate Error</a>
          </li>
        </ul>
       
      </div>
    </nav>
  </span>
    </div>
    <router-outlet></router-outlet>
</div>


<!-- <div class="container"> -->

<!-- <button class="btn btn-info" style="margin-left: 450px; margin-top: 10px; margin-bottom: 50px;">Master Details</button> -->

  <!-- <div class="row">
    <div class="col-md-3">
      <button routerLink='/Tshirt' class="btn btn-danger"> Data Binding demo</button>
    </div>

    
      <div class="col-md-3">
        <button routerLink='/Product'  class="btn btn-warning"> Product data</button>
      </div>
      

    
    <div class="col-md-3">
      <button routerLink='/attribute'   class="btn btn-warning"> Attribute Directive demo</button>
    </div>

    <div class="col-md-3">
      <button  routerLink='/Purchase'   class="btn btn-info"> master details</button>
    </div>


     <div class="col-md-3">
      <button routerLink='/sharedatawithservice' class="btn btn-warning"> Share data</button>
    </div>  -->

    <!-- <div class="col-md-3">
      <button  (click)='showpurchaseorderdemo()'  class="btn btn-warning"> Purchase-order</button>
    </div> -->


  <!-- </div>

  <hr> -->


  <!-- <div class="row">
    <div class="col-md-12"> -->

    <!-- <app-tshirtdatabinding *ngIf="showDataBindingDemo"></app-tshirtdatabinding>
<app-structuredirective *ngIf="showDirectiveDemo"></app-structuredirective>
<app-product *ngIf="showproductcomponent"></app-product>
<app-purchase *ngIf=" showpurchasecomponent"></app-purchase>  -->
<!-- <app-purchase-order *ngIf=" showpurchaseordercomponent"></app-purchase-order> -->

<!-- 
<app-input1 *ngif="showinput1component"></app-input1>
<app-input2 *ngif="showinput2component"></app-input2> -->


  <!-- </div>
</div> -->
<!-- </div> -->