
<div class="container">

  <nav class="navbar navbar-expand-sm navbar-light" >
    <a class="navbar-brand" routerLink="/home"><p class="text-dark">Vikas</p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav ">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/Tshirt"><p class="text-dark">Data Binding</p></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Products"><p class="text-dark">Product</p><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Purchase"><p class="text-dark">Master Details</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Sharedata"><p class="text-dark">Shared Data</p></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/Attributedirective"><p class="text-dark">Attribute Directive</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/HandelError"><p class="text-dark">Handle Error</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/LoginForm"><p class="text-dark">Reactive Form</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rxjsdemo"><p class="text-dark">Rxjs Services</p></a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
    <!-- <div class="col-md-3"> -->
<!-- <button (click)='showdbDemo()' class="btn btn-danger">Data binding demo</button>
    </div>

    <div class="col-md-3" class="warning">
      <button (click)='showDirectiveDemo()' class="btn btn-warning" >Structural directive Demo</button>
    </div> 

  <div class="col-md-3" class="danger">
    <button (click)='showProducts()' class="btn btn-danger" >Products List</button>
  </div>
  

  <div class="col-md-3" class="infowarning">
    <button (click)=' ShowMasterDetails()' class="btn btn-info" >MasterDetails</button>
  </div> 
  <div class="col-md-3" class="iinfowarning">
    <button (click)= 'ShowdataService()' class="btn btn-info">Show Data Service</button>
  </div> -->

  <!-- <div  class="row">
    <div class="col-md-12">
      <app-tshirtdatabinding *ngIf="ShowDataBindingDemo"></app-tshirtdatabinding>
        <app-hello *ngIf="ShowDirectiveDemo"></app-hello>
        <app-product *ngIf="showProductsTable"></app-product>
        <app-purchase *ngIf="showMasterDetails"></app-purchase>
         <button routerLink="/home">Vikas kumar</button>
          <button routerLink="/Products">Products</button>
          <button routerLink="/Tshirt">Tshirt</button>
          <button routerLink="/Purchase">Purchase</button>
          <button routerLink="/Attributedirective">Sharedata</button>
       </div>
      </div>
     -->