 <!-- <h1>Hello</h1>
<button (Click) = 'setWidth()'[style.height.px]='a'[style.width.px]='b'>Click Me</button>
<img src = "../assets/a.png"[style.height.px]='a'[style.width.px]='b'>
<input type ="number"[(ngModel)] = 'a'then/> -->
<!-- <div class="row">
  <div clas="col-md-4">

  </div>
  <div class = "col-md-4">
    <img(mouseenter)='ChangeTshirtMouseEnter()' (mouseLeave) = 'ChangeTshirtMouseExit()'
    [src]='imgSource' [style.height.px]='height'
    [style.width.px]='width'
    class = "img img-fluid"/>
  </div>
  <div class= "col-md-4">

  </div>
</div> -->
<!-- <div>
  <div class = "row">
    <div class = "col-md-2"></div>
      <div class = "col-md-4"><h1>{{title}}</h1></div>
      <div class = "col-md-2"></div>
</div>
<div></div>
<input type = "number" [(ngModel)] =Height>
<input type = "number" [(ngModel)] = Width>
<br>
<br>
<img  (mouseleave)='ChangeTshirtMouseExit()' (mouseenter)='ChangeTshirtMouseEnter()' 
[src]='imgSource' [style.height.px]='Height' [style.width.px]='Width'> -->



<div class = "container">
  <h1 class = "text-center">{{title}}</h1>
  <br>
  <div class="row">
    <div class = "col-md-3">
      <button (click) ='showDemo()' class = "btn btn-danger" > Data Binding Demo </button>
    </div>


    <div class="col-md-3">
      <button (click)='showdirectiveDemoFunction()' class= "btn btn-warning"> Structural Directive Demo</button>
    </div>
    <div class="col-md-3">
      <button (click)=' showProductsTable()' class="btn btn-warning">Product List</button>
    </div>
    <div class="col-md-3">
      <button (click)=' MasterDetailsFunction()' class="btn btn-info">Master Details</button>
    </div>
  </div>
  <hr/>
  <br>
  <div class="col-md-12">
    <app-tshirtdatabinding *ngIf = "isbindingvisivle"></app-tshirtdatabinding>
    <app-hello *ngIf="issdvisible"></app-hello>
    <app-product *ngIf ="showProductTable"></app-product>
    <app-purchase *ngIf ="showPurchase"></app-purchase>
    
 
