<br>
<br>
<div class="row">
    <form (ngSubmit)='login()' [formGroup]='loginform' novalidate class="form">
 
        <input formControlName='email'
         type="text" class="form-control" placeholder="Enter Email">
         <div class="alert alert-danger" *ngIf="loginform?.get('email')?.hasError('required') && loginform?.get('email')?.touched">
             Email required!
         </div>
 
         <input formControlName='password'
         type="password" class="form-control" placeholder="Enter Password">
         <div class="alert alert-danger" *ngIf="loginform?.get('password')?.hasError('required') && loginform?.get('password')?.touched">
             Password required with minimum length of 5!
         </div>

         <input formControlName='age'type="text" class="form-control" placeholder="Enter Age">
         <div class="alert alert-danger" *ngIf="loginform?.get('age')?.dirty && loginform?.get('age')?.errors && loginform?.get('age')">
             Age should be between {{min}} to{{max}} years
         </div>

         <input formControlName='phonenumber' type="text" class="form-control" placeholder="Enter Pnone Number">
         <div class="alert alert-danger" *ngIf="loginform?.get('phonenumber')?.hasError('required') && loginform?.get('phonenumber')?.touched">
             Phone Number is required!
         </div>

         <br>
         <div>
             <label class="control-label" >Send Notification</label>
             <label class="radio-inline">
                 <input type="radio" value='email' formControlName='notification'>Email
             </label>
             <label class="radio-inline">
                <input type="radio" value='phone' formControlName='notification'>Phone
            </label>

         </div>

 
         <button type="submit" [disabled]='loginform.invalid' class="btn btn-danger">Login</button>
         <button type="button" (click)='cancel()' class="btn btn-info">Reset</button>
    </form>
</div>