<div class="class">
    <button class="btn btn-info"  (click)="getError()">Generate Error</button>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <img src="assets/error1.png" height=400px width="400px">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <img src="assets/error2.png" height=400px width="400px">
    </div>
</div>
    <br>
    <br>
    <div class="footer">
        <p>
            In this we use errorhandler service, By using this we can rewrite error logs according to our business requirements.
        </p>
    </div>
