<div class="text-center">
    <br><br><br>
<button class="btn btn-outline-primary" (click)='generateerror()'>Generate error</button>
<br><br>
</div>

<div class="row">

    <div class="col-md-6">
        <img src="../assets/errorhandle.png" style="height: 400px; width: 400px;">
        
    </div>
    
    <div class="col-md-6">
        
        <img src="../assets/errorhandle2.png" style="height: 400px; width: 400px;">
    </div>

</div>
<br>
<br>

<p class="text-center" style="color: blue;">In this We demonstrate that we can handle errorhandler service, using this we can rewrite the error 
    message according to our business requirement.Error can be seen in console.press F12 to open console.</p>
