<br>
<h1 class="heading">Choose Tshirt</h1>
<div class="col-md-4" >
<input type="number" placeholder="height" class="class"[(ngModel)]=h>
  </div>
  <div class="col-md-4">
    <input type="number" placeholder="width" class="class"[(ngModel)]=w>
  </div>
  <div class="col-md-2">
    
  </div>
  
<hr>
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
  <img (mouseenter)='ChangeTshirtMouseEnter()' (mouseleave)='ChangeTshirtMouseExit()'
  [src]='imgSource' [style.height.px]='h' [style.width.px]='w'
  class="img img-fluid"/>
</div>
</div>
<br>
<br>
<div class="footer">
  <p class="text-center" style="color:grey;">In This example we implemented Data Binding, we have provided two input fields to set height and width of an image <br>
    by changeing the values, the size of image will change respectively, and when we hover mouse on image, back of t-shirt image can be seen.
  </p>
</div>
