<br>
<br>
<img class="img" src="../assets/angular.png">
<h1 class="heading"> My ANGULAR Learning</h1>
<br>
<h3>Name : Vikas Kumar</h3>
<h4>Designation : ASET</h4>
<h4>Company : Taazaa</h4>
<hr>
<div class="col-md-4"></div>

<h1 class="heading1">INDEX</h1>
<ol>
    <li>
        <h3><a routerLink="/Tshirt">Data Binding</a></h3>
    </li>
    <li>
        <h3><a routerLink="/Products">Structural Directive</a></h3>
    </li>
    <li>
        <h3><a routerLink="/Purchase">Master Details</a></h3>
    </li>
    <li>
        <h3><a routerLink="/Sharedata">Sharing Data</a></h3>
    </li>
    <li>
        <h3><a routerLink="/Attributedirective">Attribute directive</a></h3>
    </li>
    <li>
        <h3><a routerLink="/HandelError">Handel Error</a></h3>
    </li>
    <li>
        <h3><a routerLink="/LoginForm">login Form</a></h3>
    </li>
    <li>
        <h3><a routerLink="/rxjsdemo">RxJS Service</a></h3>
    </li>
</ol>
<hr>
<br>
<br>
<div class="footer">
    <p>
    
    </p>
</div>